@import 'tiny-host-common/src/web/colors.scss';

// try to make dark mode??
/*$background: $black-ter;
$text: $grey-light;
$text-dark: $grey-lighter;
$text-darker: $white-ter;
$text-light: $grey;*/

@import 'tiny-host-common/src/web/styles.scss';

